@use '/src/theme/color.scss' as *;

.container {
    padding: 0.5rem;
    border-radius: 10px;

    color: clr("onBackground");
    background-color: transparent;


    transition: background-color 100ms ease-in;

    &:hover {
        background-color: clr("secondary");
        cursor: pointer;
    }
}

.start-icon-and-column-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.text-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: top;

    flex: 1;
}

#event-note-icon {
    justify-self: flex-start;
    align-self: flex-start;

    font-size: 28px;
    height: 28px;
    width: 28px;
}

.subtitle {

    font-weight: 400;
}

h2 {
    min-width: 0;
    margin: 0;
}