@use '/src/theme/color.scss' as *;

.container {
    padding: 1rem;
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    background-color: clr("surface");
    color: clr("onSurface");
}