@use '/src/theme/color.scss' as *;

.button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    transition: background-color 0.1s;

    &:hover {
        background-color: clr('onBackground', $alpha: -0.5);
        cursor: pointer;
    }

    &:active {
        background-color: clr('onBackground', $alpha: -0.8);
    }
}