.container {
    width: 100%;

    &.small-layout {
        h1 {
            font-size: 14pt;
        }
    }
}

.relative-wrapper {
    width: 100%;
    position: relative;
}

h1 {
    position: absolute;
    text-align: end;
    top: 0;
    right: 0;
}