@use '/src/theme/color.scss' as *;

.container {
    background-color: clr('background');

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    outline: 1px solid clr('onBackground');

    overflow: hidden;

    transition: height 150ms ease-out;
}

.divider {
    background-color: clr("onBackground");

    height: 1px;
    width: calc(100% - 2rem);
}

.input-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
}

.results-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: top;
    padding: 0 1rem;
    padding-bottom: 1rem;

    gap: 20px;
    width: 100%;
    max-width: 40rem;

    // width: inherit;
    scrollbar-width: thin;
    overflow-y: auto;

    h4 {
        width: 100%;
        text-align: left;
    }

    search-result {
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 1em;
    }
}

.results-placeholder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    h3 {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .no-school-help {
        width: 100%;
        margin-top: 2rem;

        h1 {
            width: 100%;
            text-align: center;
        }

        h3 {
            margin-top: 0;
        }
    }
}

input {
    height: inherit;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    font-weight: 400;

    &:focus {
        outline: none;
        font-size: 18px;
        font-weight: 500;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

button {
    background-color: transparent;
    color: inherit;
}


.search-bar-loading ::ng-deep circle {
    stroke: clr("onBackground") !important;

}

h1 {
    margin: 0;
}

.search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;

    .container {
        width: 100%;
        height: 100%;

        border-radius: 0;
    }
}

@media screen and (max-width: 800px) {
    .large-search-bar {
        display: none;
    }

    .small-search-bar {
        display: block;
    }
}

@media screen and (min-width: 801px) {
    .large-search-bar {
        display: block;
    }

    .small-search-bar {
        display: none;
    }
}