<div class="container" *transloco="let t">
    <!-- <h1 class="title">{{t('login.title')}}</h1> -->
    <h3 class="subtitle">{{t('login.subtitle')}}</h3>
    <form [formGroup]="form" (ngSubmit)="submit()" class="mat-form">

        <div class="field-container">
            <p class="field-label">{{t('login.school-label')}}</p>
            <school-picker></school-picker>
        </div>

        <div class="field-container">
            <p class="field-label">{{t('login.username-label')}}</p>
            <input class="input" type="text" autocomplete="off" matInput [placeholder]="t('login.username-placeholder')"
                formControlName="username">
        </div>

        <div class="field-container">
            <p class="field-label">{{t('login.password-label')}}</p>
            <input class="input" type="password" autocomplete="off" matInput
                [placeholder]="t('login.password-placeholder')" formControlName="password">
        </div>

        <p *ngIf="error" class="error">
            {{ error }}
        </p>

        <div class="button-container">
            <button class="cancel-button" type="button" mat-button
                (click)="closeDialog()">{{t('general.cancel')}}</button>
            <button class="login-button" type="submit" mat-flat-button>{{t('login.button')}}</button>
        </div>
    </form>
</div>