@use '/src/theme/color.scss' as *;

.container {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    color: clr('onBackground');

    &.small-layout {
        margin-bottom: 2rem;

        .date-offset {
            display: block;
        }

        h1 {
            font-size: 14pt;
        }
    }
}

h1 {
    position: relative;
    margin: 0;
}

.date-offset {
    display: grid;
    grid-template-columns: 1fr 6fr;
}