.side-bar-body-grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
    height: calc(100% - 5rem);

    &.collapsed {
        grid-template-columns: 4rem 1fr;
    }
}

app-schedule-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}