<div #schoolPickerContainer class="container">
    <div (click)="toggleExpanded()">
        <div class="clr-search-bar" *ngIf="schoolSelected(); else noneSchool">
            <school-option [school]="schoolValue!"></school-option>
        </div>
        <ng-template #noneSchool>
            <div class="clr-search-bar choice-container">
                <p>{{'None'}}</p>
            </div>
        </ng-template>
    </div>
    <div class="list-container" [style.height]="this.expanded ? '28rem' : '0'">
        <school-option *ngFor="let school of filteredSchools" [school]="school"
            (chosenSchoolEvent)="changeSchool($event)"></school-option>
    </div>
</div>