@use 'sass:map';

$primary-color: #FF815E;
$error-color: rgb(135, 12, 12);

$dark-theme: (
    "primary": $primary-color,
    "background": #0F0E12,
    "surface": #24202A,
    "error": $error-color,
    "onPrimary": white,
    "onSecondary": #3b3b3b,
    "onBackground": #d4d4d4,
    "onSurface": #d4d4d4,
    "onError": white
);