@use 'sass:map';

$primary-color: #FF815E;
$error-color: rgb(135, 12, 12);

$light-theme: (
    "primary": $primary-color,
    "background": #FFFAFF,
    // "surface": #e6e6e6,
    "surface": #F5EFF5,
    "error": $error-color,
    "onPrimary": white,
    "onSecondary": #3b3b3b,
    "onBackground": #4d4d4d,
    "onSurface": #4d4d4d,
    "onError": white
);