@use 'sass:map';
@use './light-theme' as *;
@use './dark-theme' as *;
@use './color.scss' as *;

@mixin define-color($title, $color) {
    --#{$title}-h: #{hue($color)};
    --#{$title}-l: #{lightness($color)};
    --#{$title}-s: #{saturation($color)};
    --#{$title}-a: #{alpha($color)};
}

@mixin light-theme {
    @include theme-styling($light-theme);
}

@mixin dark-theme {
    @include theme-styling($dark-theme);
}

@mixin theme-styling($theme) {
    // .background {
    //     background-color: $clr-background;
    //     color: $clr-onBackground;
    // }

    // .primary {
    //     background-color: $clr-primary;
    //     color: $clr-onPrimary;
    // }

    // .secondary {
    //     background-color: $clr-secondary;
    //     color: $clr-onSecondary;
    // }

    // .surface {
    //     background-color: $clr-surface;
    //     color: $clr-onSurface;
    // }

    // .error {
    //     background-color: $clr-error;
    //     color: $clr-onError;
    // }

    // .on {
    //     &-background {
    //         background-color: $clr-onBackground;
    //         color: $clr-onBackground;
    //     }

    //     &-background-light {
    //         @if $theme==$dark-theme {
    //             background-color: darken($color: $clr-onBackground, $amount: 62%);
    //         }

    //         @else {
    //             background-color: lighten($color: $clr-onBackground, $amount: 62%);
    //         }

    //         color: $clr-onBackground;
    //     }

    //     &-primary {
    //         background-color: $clr-onPrimary;
    //         color: $clr-onPrimary;
    //     }

    //     &-secondary {
    //         background-color: $clr-onSecondary;
    //         color: $clr-onSecondary;
    //     }

    //     &-surface {
    //         background-color: $clr-onSurface;
    //         color: $clr-onSurface;
    //     }

    //     &-error {
    //         background-color: $clr-onError;
    //         color: $clr-onError;
    //     }

    // }

    .clr-search-bar {
        @if $theme==$dark-theme {
            background-color: clr("onBackground", $lightness: -62%);
        }

        @else {
            background-color: clr("onBackground", $lightness: +62%);
        }

        color: clr("onBackground");
    }

    .elevated {
        &-low {
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29);
        }

        &-mid {
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
        }

        &-high {
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.29);
        }
    }
}