@use 'sass:map';
@use './light-theme' as *;
@use './dark-theme' as *;
@use './color.scss' as *;

@mixin define-color($title, $color) {
    --#{$title}-h: #{hue($color)};
    --#{$title}-l: #{lightness($color)};
    --#{$title}-s: #{saturation($color)};
    --#{$title}-a: #{alpha($color)};
}

@mixin light-theme {
    @include theme-styling($light-theme);
}

@mixin dark-theme {
    @include theme-styling($dark-theme);
}

@mixin theme-styling($theme) {

    .elevated {
        &-low {
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.29);
        }

        &-mid {
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.29);
        }

        &-high {
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.29);
        }
    }
}