.side-bar-body-grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    width: 100%;
    height: calc(100% - 5rem);

    &.collapsed {
        grid-template-columns: 4rem 1fr;
    }
}