@use '/src/theme/color.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: 10px;

    overflow: hidden;

    transition: height 150ms ease-out;
}

.divider {
    background-color: clr("onBackground");

    height: 0.05rem;
    width: 95%;
}

.input-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
}

.results-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: top;
    gap: 1rem;

    width: inherit;
    scrollbar-width: none !important;
    overflow-y: scroll;

    h4 {
        width: 95%;
        text-align: left;
    }

    search-result {
        width: 92%;
    }

    ::-webkit-scrollbar {
        width: none;
    }
}

.results-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    h3 {
        text-align: center;
    }
}

input {
    height: inherit;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    font-weight: 400;

    &:focus {
        outline: none;
        font-size: 18px;
        font-weight: 500;
    }
}

button {
    background-color: transparent;
    color: inherit;
}

.search-bar-loading ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: clr("onBackground");
}

h1 {
    margin: 0;
}