<div class="clr-search-bar container" [style.height]="this.expanded ? '25rem' : '3rem'" #searchContainer>
    <div class="input-row">
        <button (click)="this.search()" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <input #inputField (keyup.enter)="this.search()" type="search" placeholder="Search for schedules"
            (focus)="this.expanded = true">
        <button *ngIf="this.expanded" (click)="this.clearSearchInput()" mat-icon-button>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <div class="divider"></div>
    <div [style.height]="'0.5rem'"></div>
    <div *ngIf="this.results == null" class="results-placeholder">
        <h3>Search using a programme, teacher, or course code. You can even search by classroom!</h3>
    </div>
    <div *ngIf="this.results" class="results-container">
        <search-result *ngFor="let item of this.results" [title]="item.subtitle" [subtitle]="item.title">
        </search-result>
    </div>
</div>