.container {
    width: 100%;
    padding: 0.5rem 0rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .task-group {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        width: fit-content;
        gap: 0.2rem;
    }

    p {
        margin: 0;
    }
}