@use '/src/theme/color.scss' as *;

.container {
    height: 5rem;

    padding: 0.5rem;
    border-radius: 10px;

    color: clr("onBackground");
    background-color: transparent;


    transition: background-color 100ms ease-in;

    &:hover {
        background-color: clr("primary", $alpha: -0.7);
    }

}