<div class="container">
    <h1 class="time-stamp">{{datepipe.transform(event.from, 'HH:mm') + " - " + datepipe.transform(event.to,
        'HH:mm')}}</h1>
    <div (click)="showEventDetails($event)" [style.borderColor]="(getEventColor() | async) ?? '#ffffff'"
        class="event-info elevated-low">
        <div class="title-course">
            <h1 [innerHTML]="event.title"></h1>
            <h1 class="course-name">{{event.course.englishName}}</h1>
        </div>
        <div class="special-locations">
            <div>
                <mat-icon *ngIf="event.isSpecial">priority_high</mat-icon>
            </div>
            <h1 class="course-name">{{locationTitles!|join:', '}}</h1>
        </div>
    </div>
</div>