<div class="container" [style.backgroundColor]="(getEventColor() | async) ?? '#ffffff'">
    <h1 class="time-stamp">{{datepipe.transform(event.from, 'HH:mm') + " - " + datepipe.transform(event.to,
        'HH:mm')}}</h1>
    <div (click)="showEventDetails($event)" class="event-info elevated-low">
        <div class="title-course">
            <div id="scrollable-title">
                <span>
                    <h1 [innerHTML]="event.title"></h1>
                </span>
            </div>
            <h1 class="course-name">{{event.course.englishName}}</h1>
        </div>
        <div class="locations">
            <h1 class="course-name">{{locationTitles!|join:', '}}</h1>
        </div>
    </div>
</div>