@use '/src/theme/color.scss' as *;

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;

    width: 100%;
}

.time-stamp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-info {
    display: flex;
    flex-flow: row nowrap;
    min-width: 0;

    height: 7rem;
    flex-grow: 1;

    border-radius: 10px;

    background-color: clr('surface');
    color: clr('onSurface');

    justify-content: space-between;

    padding: 1rem;
}

.title-course {
    width: 70%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.locations {
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

h1 {
    margin: 0;
}

.course-name {
    font-weight: 300;
}