@use '/src/theme/color.scss' as *;

.user-button {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;

    border-radius: 10px;

    transition: background-color 0.1s;

    &:hover {
        background-color: clr('onBackground', $alpha: -0.7);
        cursor: pointer;
    }

    p {
        margin: 0;
        font-weight: 500;
        font-size: 12pt;
    }
}

.login-button {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    transition: background-color 0.1s;

    &:hover {
        background-color: clr('onBackground', $alpha: -0.5);
        cursor: pointer;
    }

    &:active {
        background-color: clr('onBackground', $alpha: -0.8);
    }
}