@use '/src/theme/color.scss' as *;

.container {
    background-color: clr("background");
    color: clr("onBackground");

    padding: 1rem 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;


    height: 100%;
    width: 100%;
    position: relative;

    overflow-y: scroll;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - calc(0.5 * (100% - 4rem)));

        height: calc(100% - 4rem);
        width: 1px;
        border-right: clr("onBackground", $alpha: -0.5) solid 1px;
    }

    &.collapsed {
        justify-content: flex-end;
    }

    &>* {
        width: 100%;
    }
}

.items-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.collapse-button-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    &.collapsed {
        justify-content: center;
    }
}


#bookmarked {
    color: clr("primary");
}