<div *transloco="let t" class="container">
    <school-picker *ngIf="smallLayout"></school-picker>
    <side-bar-section [title]="t('site-side-bar.bookmarks.title')">

        <div *ngIf="(bookmarks | async)!.length <= 0">
            <h4>{{t('site-side-bar.bookmarks.no-bookmarks')}}</h4>
        </div>

        <side-bar-dual-action-item *ngFor="let bookmark of (bookmarks | async)"
            [title]="(bookmark.scheduleId | scheduleIdFormatter : bookmark.schoolId)"
            (primaryAction)="toggleVisible(bookmark)" (secondaryAction)="deleteBookmark(bookmark)">
            <mat-icon primaryIcon class="material-symbols-outlined">{{bookmark.visible ? "visibility" :
                "visibility_off"}}</mat-icon>
            <mat-icon secondaryIcon class="material-symbols-outlined">close</mat-icon>
        </side-bar-dual-action-item>

    </side-bar-section>
</div>