<div *transloco="let t" class="container">
    <div class="side-bar-content">
        <school-picker *ngIf="smallLayout"></school-picker>
        <h1>{{t("site-side-bar.bookmarks.title")}}</h1>
        <bookmarks-container></bookmarks-container>
    </div>
    <!-- <div class="collapse-button-container" [ngClass]="expanded ? '' : 'collapsed'">
        <button (click)="toggleExpanded()" mat-icon-button class="mat-small-ratio-icon-button">
            <mat-icon>{{expanded ? "arrow_back" : "arrow_forward"}} arrow_back</mat-icon>
        </button>
    </div> -->
</div>