@use "@angular/material" as mat;
@use "./theme/theme-definition" as *;
@use "./theme/light-theme" as *;
@use "./theme/dark-theme" as *;
@use "./theme/color.scss" as *;

@import "../node_modules/mat-icon-button-sizes/styles/mat-icon-button-sizes";
@import "../node_modules/hamburgers/dist/hamburgers.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@include mat.core();
@include MatIconButtonSize("medium", 48px, 32px);
@include MatIconButtonSize("small-ratio", 28px, 24px);

/* You can add global styles to this file, and also import other style files */
:root {
    @include light-theme;
    @include mat.core-theme($mat-light-theme);
    @include mat.button-theme($mat-light-theme);

    @each $name, $color in $light-theme {
        @include define-color($name, $color);
    }

    .dark-mode {
        @include dark-theme;
        @include mat.core-color($mat-dark-theme);
        @include mat.button-color($mat-dark-theme);

        @each $name, $color in $dark-theme {
            @include define-color($name, $color);
        }
    }
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    overflow: overlay;

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: clr("onBackground");
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: clr("onBackground");
        border-radius: 10px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

app-root {
    display: block;
    height: 100%;

    background-color: clr("background");
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
    background-color: clr("error");
    color: clr("onError");

    button {
        background-color: transparent;
        color: clr("onError");
    }
}

.snackbar-default {
    background-color: clr("onBackground");
    color: clr("background");
}

.login-modal-container .mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent !important;
}
