@use '/src/theme/color.scss' as *;

.container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    border: 1px solid clr('onBackground', $alpha: -0.6);
    padding: 0.5rem;

    gap: 1rem;
}

h4 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-container {
    flex-grow: 1;
    overflow: hidden;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

button {
    width: 28px;
    height: 28px;
}