<div class="container">
    <div class="text-container">
        <h4>{{bookmark.programme.title}}</h4>
    </div>
    <div class="button-container">
        <button (click)="toggleVisible()" mat-icon-button class="mat-small-ratio-icon-button">
            <mat-icon class="material-symbols-outlined">{{bookmark.visible ? "visibility" :
                "visibility_off"}}</mat-icon>
        </button>
        <button (click)="deleteBookmark()" mat-icon-button class="mat-small-ratio-icon-button">
            <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
    </div>
</div>